<h1>EDIT Station</h1>

<table class="table">
	<tr>
		<th>Section</th>
		<th></th>
	</tr>

	<tr>
		<td>bagcount</td>
		<td>Edit</td>
	</tr>
	<tr>
		<td>News Feed</td>
		<td>View Items</td>
	</tr>
	<tr>
		<td>Meet Up</td>
		<td>View Dates</td>
	</tr>

</table>
