<h1>EDIT Station</h1>

<table class="table">
	<tr>
		<th>Section</th>
		<th></th>
	</tr>

	<tr>
		<td>bagcount</td>
		<td>Edit</td>
	</tr>
	<tr>
		<td>News Feed</td>
		<td><%= link_to("View News Items",{controller:"c1_m2_s3", action:"item_list", page:"newsfeed"}) %></td>
	</tr>
	<tr>
		<td>Meet Up</td>
		<td><%= link_to("View Meet Ups",{controller:"c1_m2_s3", action:"item_list", page:"meetup"}) %></td>
	</tr>

</table>
