/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Entire Site*/
html, body { font-family: 'Josefin Sans', sans-serif;}

.test-back {
	background-color: #ffffff;
}
.test-front {
	background-color: #E0E0E0;
}
/*Navigation*/
.nav-container {

}
.nav-logo { 
	/*max-height: 80px;
	text-align: center;*/
}
.orb-nav-logo{ height: 40px; float:left; margin: 3px 0px;}
.orb-nav-logo:hover { 
	filter: invert(100%); 
	-webkit-filter: invert(100%);
}

#orb-main-nav {	
	background-color: #DB4D4D; 
	/*background-image: url( orb-logo.png);
	background-repeat: no-repeat;
	background-size: 120px 70px;
	background-position: 70% 20%;*/
}
.relative { position: relative; }
.navbar-collapse { 
	padding: 0px;
}
#orb-inside-nav {float: right;}
#orb-inside-nav > li > a {
	color: #000000;
	padding: 15px 15px;
	font-weight: bold;
}
#orb-inside-nav > li > a:hover, #orb-inside-nav > li > a:focus, #orb-inside-nav > li >.current-page {
	color: #ffffff;
	font-weight: bold;
	/*background-color: #000000;*/
	background-color:rgba(0, 0, 0, 0.5);
}

.social-head { 
	border-left: 1px solid #ffffff;
}
.social-tail { 
	border-right: 1px solid #ffffff;
}
.social { 
	list-style: none;
	display: inline-block;
	float: left;
}
.social .fa { color: #ffffff !important; }
.social .fa:hover { 
	color: #000000 !important; 
	text-decoration:none;
	background-color:rgba(255, 255, 255, 0.5) !important;
	
}

.orb-container { 
	margin-bottom: 30px; 
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	box-shadow:
		10px 0px 10px -7px rgba(0,0,0,0.5),
		-10px 0px 10px -7px rgba(0,0,0,0.5);
}
@media (max-width: 480) {
	#orb-inside-nav {float: left;}	
}