/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Entire Site*/
html, body { font-family: 'Josefin Sans', sans-serif;}

/*Navigation*/
#orb-main-nav {	background-color: #DB4D4D; }
.relative { position: relative; }

#orb-inside-nav > li > a {
	color: #000000;
}
#orb-inside-nav > li > a:hover, #orb-inside-nav > li > a:focus, #orb-inside-nav > li >.current-page {
	color: #ffffff;
	font-weight: bold;
	border-bottom: solid 2px #ffffff;
}
.orb-nav-logo{ height: 55px;}
.social { margin-top: 15px; }
.social li{ 
	list-style: none;
	display: inline-block;
	float: left;
}
.social li .fa { margin: 0px 10px; color: #ffffff; }
.social li .fa:hover { color: #000000; text-decoration:none;}

.orb-container { margin-bottom: 30px;}