/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Entire Site*/
html, body { 
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-family: 'Open Sans Condensed', sans-serif;
	height: 100%;
}
body { 
	padding-top: 142px;
	background-color: #EFEFEF;
}
.wrapper {
	min-height: 100%;
	position: relative;
}

.nav-top { 
	position: relative;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	background-color: #ffffff;
}
/*Social*/
.follow-us { display: inline-block;}
.follow-us span { 
	border-right: 1px solid #000000;
}
/*Header Logo*/
.header-logo{ 
	display: inline-block;
	position: relative; 
    width: 200px;
    text-align: center;
}
.logo-text { 
	font-size: 26px; 
	position: absolute;
	top: 20px;
	width: 100%;
}
.logo-red-text { 
	color: #DB4D4D;
}
.logo-icon { 
	height: 70px;
	opacity: 0.4;
}

/*Navigation*/
.nav-container { 
	position: fixed;
	top: 0;
  	left: 0;
  	z-index: 100;
  	width: 100%;
}

.orb-nav-logo{ height: 40px; float:left; margin: 3px 0px;}

#orb-main-nav {	
	background-color: #ffffff; 
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	/*#DB4D4D; */
}
.relative { position: relative; }
.navbar-collapse { 
	padding: 0px;
}
#orb-inside-nav { 
	display:table;
	width: 100%;
}
#orb-inside-nav li { 
	display: table-cell;
	width: 16.667%;
}

#orb-inside-nav > li > a {
	color: #000000;
	padding: 15px 15px;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}
#orb-inside-nav > li > a:hover, #orb-inside-nav > li > a:focus {
	/*color: #ffffff;*/
	font-weight: bold;
	background-color: #000000;
	background-color:rgba(219, 77, 77, 0.7);
}
#orb-inside-nav > li >.current-page { 
	color: #DB4D4D;
}

.social { 
	width: 5.333% !important;
}
.social .fa { color: #DB4D4D !important; }
.social .fa:hover { 
	color: #000000 !important; 
	text-decoration:none;
	background-color:rgba(255, 255, 255, 0.5) !important;
}

.container {
	padding-left:0px !important;
	padding-right:0px !important;
}
.orb-container { 
	/*margin-bottom: 30px; */
	padding-bottom: 300px;
	/*border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	/*box-shadow:
		10px 0px 10px -7px rgba(0,0,0,0.5),
		-10px 0px 10px -7px rgba(0,0,0,0.5);*/
}
@media (max-width: 480) {
	#orb-inside-nav {float: left;}	
}

/*Footer*/

.orb-footer { 
	background-color: #000000;
	min-height: 200px;
	padding: 15px 0px;
	
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.orb-footer-container { 
	max-width: 1170px;
	margin: 0px auto;
}

.orb-footer > div > div {
	margin: 0px 20px;
}
.orb-footer > .orb-footer-container > div + div {
	border-left: 1px solid #ffffff;
}
.orb-footer > .orb-footer-container > div > a {
	display: block;
	color:  #DB4D4D;
}
.orb-footer > .orb-footer-container > div > a:hover { 
	text-decoration: none;
	color: #E0E0E0;
}
.orb-footer > .orb-footer-container > div > span { 
	color: #E0E0E0;
}
.orb-footer > .orb-footer-container > div > .fa {
	display: inline-block;
	padding: 5px 20px 5px 0px;
	color:  #DB4D4D;
}

.footer-title {
	color: #ffffff;
	font-weight:bold;
	font-size: 16px;
	margin-bottom: 5px;
}
.title2 { 
	margin-top: 20px;
}