/*Home CSS*/

#wrapper {
	width: 660px;
	height: 310px;
	position: absolute;
	/*
	margin: -155px 0 0 -330px;
	top: 50%;
	left: 50%;*/
}
#wrapper:after {
	/*content: url(img/shadow.png);*/
	position: absolute;
	bottom: -40px;
	left: 5px;
	z-index: 1;
}
#carousel {
	width: 550px;
	height: 310px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
#carousel img {
	display: block;
	float: left;
}
#pager {
	width: 100px;
	height: 310px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
}
#pager div {
	height: 80px;
	width: 100px;
}
#pager img {
	cursor: pointer;
	display: block;
	height: 70px;
	width: 100px;
	margin-bottom: 10px;
	float: left;
}
.carousel-img {
	width:550;
	height:310;
}
.mini-img {
	width:100px;
	height: 70px;
}
