/*Home CSS*/

/*Bootstrap Carousel*/
#myCarousel {
	margin-top: 10px;	
}
.carousel-img {
	margin: 0px auto;
}

/*Custom Bootstrap Carousel*/
.orb-carousel { 
	margin-top: 0px;
	margin-bottom: 30px;
}

.preview-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #DB4D4D; 
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.preview-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
	-moz-transition: width 4.25s linear;
	-o-transition: width 4.25s linear;
	transition: width 4.25s linear;
}

/*Preview Thumbnails Carousel*/
#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3,
#thumbnail-preview-indicators .slides .slide-4 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#thumbnail-preview-indicators,
#thumbnail-preview-indicators .slides,
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3,
#thumbnail-preview-indicators .slides .slide-4 {
      height: 480px;
}

#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url( large/img6.jpg );
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url( large/img7.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url( large/img8.jpg);
}
#thumbnail-preview-indicators .slides .slide-4 {
  background-image: url( large/img9.jpg);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;  
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}
@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
      width: 50px;
      height: 8px;
      position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
       width: 50px;
       left: 50%;
       margin-top: -50px;
       margin-left: -25px;
    }
}

/*Bag Count Box*/
.bg-count-wrapper {
  background-color: #DB4D4D;
  padding: 15px;
  margin-bottom:30px;
  /*margin: 0px -8%;*/
}
.bg-count-text { 
  display: inline-block;
  padding: 15px 30px;
  border-right: 1px solid #ffffff;
  width: 50%;
  text-align: left;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight:bold;
}
.bg-count-number { 
  display: inline-block;
  padding: 15px;
  width: 49%;
  text-align: center;
  color: #ffffff;
  font-size: 70px;
  font-weight:bold;
}
.bg-count-number span { font-size: 30px;}
/*Slide up Box*/
.orb-cards {
	padding:0px;
}

.orb-cards + .orb-cards { 
	padding-left: 15px;
}
.center-cards {
	margin-top: 0px;
}
.card {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin-bottom: 10px;
}
.card-back {
	background-color:#FCFCFC;
	height: 100%;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.card-back i { color: #000000;}
.card-front {
	background-color: #303030;/*#DB4D4D;*/
	padding: 10px;
	position: absolute;
	bottom: -135px;
	height:100%;
	width: 100%;
	border-top:7px solid #000000;
	
	transition: all 0.5s ease;
}

.card :hover ~ .card-front, .card-front:hover, .card-back:hover + .card-front {
	bottom: 0;
}
.card-front h3{
	font-size:20px;
	font-weight: bold;
	margin-bottom: 5px;
	color: #DB4D4D;
	text-align: center;
}
.card-front p { color: #ffffff;}
.more-links { 
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: #ffffff;
}
@media (min-width: 768px) {
	
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
	
}


