/*Home CSS*/

#wrapper {
	width: 100%;
	position: absolute;
	margin-top: 10px;
}

#carousel {		
	width: 83% !important;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
#carousel img {
	width: 83% !important;
	height: 100% !important;
	display: block;
	float: left;
}
#pager {
	width: 17% !important;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 50px;
}
#pager div {
	width: 100% !important;
}
#pager img {
	cursor: pointer;
	display: block;	
	width: 100% !important;
	margin-bottom: 10px;
	float: left;
}
@media (min-width: 1200px) {
	#wrapper{
		width: 1170px !important;
		height: 549px !important;
	}
	#carousel, #carousel img {
		width: 930px !important;/*975*/
		height: 524px !important;/*549*/
	}
	#pager {
		width: 177px;
		height: 549px;
	}
	#pager div {
		height: 141px;
		width: 177px;
	}
	#pager img {
		height: 131px;
		width: 177px;		
	}
}
@media (min-width: 992px) {
	#wrapper {
		width: 970px !important;
		height: 455px !important;
	}
	#carousel, #carousel img {
		width: 760px !important;/*808*/
		height: 428px !important;/*455*/
	}
	#pager {
		width: 146px;
		height: 455px;
	}
	#pager div {
		height: 117px;
		width: 146px;
	}
	#pager img {
		height: 107px;
		width: 146px;		
	}
}
@media (min-width: 768px) {
	#wrapper {
		width: 750px !important;
		height: 352px !important;
	}
	#carousel, #carousel img {
		width: 567px !important; /*624*/
		height: 320px !important; /*352*/
	}
	#pager {
		width: 113px;
		height: 352px;
	}
	#pager div {
		height: 90px;
		width: 113px;
	}
	#pager img {
		height: 80px;
		width: 113px;		
	}
}
